################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AIO/v15
/Performance/bin/Debug
/Server/Elements/obj/Debug
